@import "tailwindcss";

@font-face {
  font-family: 'EB Garamond';
  src: url('/fonts/EBGaramond-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 700; /* variable font weight range */
  font-style: normal;
}

/* Italic */
@font-face {
  font-family: 'EB Garamond';
  src: url('/fonts/EBGaramond-Italic-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 700;
  font-style: italic;
}

/* Apply globally */
body {
  font-family: 'EB Garamond', serif;
}
